# Log files
LOG_FILE=/path/to/logs/info.log # Example: /path/to/logs/info.log
ERROR_LOG=/path/to/logs/error.log # Example: /path/to/logs/error.log

# Root path
ROOT_PATH=/path/to/root # Example: /path/to/root

# Backup path
BACKUP_PATH=/path/to/backup # Example: /path/to/backup

# Vault path
VAULT_PATH=/path/to/vault # Example: /path/to/vault

# Google Drive API
TOKEN_URL=https://oauth2.googleapis.com/token # Example: https://oauth2.googleapis.com/token
SERVICE_ACCOUNT_KEY=/path/to/service_account.json # Example: /path/to/service_account.json
ACCESS_TOKEN_FILE=/path/to/access_token.json # Example: /path/to/access_token.json

# Folder ID where the files will be uploaded
FOLDER_ID=your_folder_id

# OpenVPN path
OPENVPN_PATH=/path/to/openvpn # Example: /path/to/openvpn

# Planka API
PLANKA_USER=your_planka_user # Example: user@example.com
PLANKA_PWD=your_planka_password # Example: your_password
PLANKA_HOST=https://your_planka_host # Example: https://planka.example.com

# MySQL
MYSQL_ROOT_PASSWORD=your_mysql_root_password # Example: root_password
MYSQL_DATABASE=your_database_name # Example: my_database
MYSQL_USER=your_mysql_user # Example: db_user
MYSQL_PASSWORD=your_mysql_password # Example: db_password

# Postgres
POSTGRES_DB=your_postgres_db # Example: wiki
POSTGRES_PASSWORD=your_postgres_password # Example: P0stgr3s_P@ssw0rd_123
POSTGRES_USER=your_postgres_user # Example: postgres

# Planka
PLANKA_SECRET_KEY=your_planka_secret_key # Example: supersecretkey
PLANKA_DEFAULT_ADMIN_EMAIL=your_admin_email # Example: admin@example.com
PLANKA_DEFAULT_ADMIN_PASSWORD=your_admin_password # Example: admin_password
PLANKA_DEFAULT_ADMIN_NAME=your_admin_name # Example: Admin
PLANKA_DEFAULT_ADMIN_USERNAME=your_admin_username # Example: admin

# Wiki.js
WIKI_ADMIN_EMAIL=your_admin_email # Example: admin@example.com
WIKI_ADMIN_PASS=your_admin_password # Example: admin_password

# Gaia Postgres
GAIA_POSTGRES_DB=your_gaia_postgres_db # Example: wikijs
GAIA_POSTGRES_PASSWORD=your_gaia_postgres_password # Example: G@1a_P0stgr3s
GAIA_POSTGRES_USER=your_gaia_postgres_user # Example: postgres

# Gaia Planka
GAIA_PLANKA_SECRET_KEY=your_gaia_planka_secret_key # Example: supersecretkey
GAIA_PLANKA_DEFAULT_ADMIN_EMAIL=your_admin_email # Example: admin@example.com
GAIA_PLANKA_DEFAULT_ADMIN_PASSWORD=your_admin_password # Example: admin_password
GAIA_PLANKA_DEFAULT_ADMIN_NAME=your_admin_name # Example: Admin
GAIA_PLANKA_DEFAULT_ADMIN_USERNAME=your_admin_username # Example: admin

# URLs
SERVER_ADMIN=admin@example.com # Example: admin@example.com
SERVER_DOMAIN=example.com # Example: example.com
WIKI_DOMAIN=wiki.example.com # Example: wiki.example.com
PLANKA_DOMAIN=planka.example.com # Example: planka.example.com
GAIA_PLANKA_DOMAIN=gaia-planka.example.com # Example: gaia-planka.example.com
GAIA_WIKI_DOMAIN=gaia-wiki.example.com # Example: gaia-wiki.example.com
GITEA_DOMAIN=gitea.example.com # Example: gitea.example.com
SSL_CERTIFICATE_FILE=/path/to/certificate/fullchain.pem # Example: /path/to/certificate/fullchain.pem
SSL_CERTIFICATE_KEY_FILE=/path/to/certificate/privkey.pem # Example: /path/to/certificate/privkey.pem